
<mat-toolbar color="primary">

  <mat-chip-list>
    <mat-chip color="primary" selected routerLink="/home" routerLinkActive="active current">{{hometitle}}</mat-chip>
    <mat-chip color="primary" selected routerLink="/home" routerLinkActive="active current">Home</mat-chip>
    <mat-chip color="primary" selected routerLink="/albums" routerLinkActive="active current">Albums</mat-chip>
    <mat-chip color="primary" routerLink="/register" routerLinkActive="active current" selected> Register</mat-chip>
    <mat-chip color="primary" selected routerLink="/login" routerLinkActive="active current" > Login</mat-chip>
    <mat-chip class="logout" color="primary" >Logout</mat-chip>
  </mat-chip-list>

</mat-toolbar>

