<div class="container">
   <br>
    <form (ngSubmit)="onSubmit()" #regstore="ngForm">
        <div class="form-group">
            <label for="email">Email</label>
            <input ngModel name="email" #domain="ngModel" class="form-control" id="email" [(ngModel)]="model.email ">
            <br>
        </div>
        <div class="form-group">
            <label for="username">UserName</label>
            <input ngModel name="username" #userId="ngModel" class="form-control"   id="username" [(ngModel)]="model.username">
            <br>
          
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input ngModel name="password" type="password" #password="ngModel" class="form-control" id="password" [(ngModel)]="model.password">
            <br>
        </div>
        
            <div class="form-group">
                <label for="firstname">FirstName</label>
                <input ngModel name="firstname" type="firstname" #password="ngModel" class="form-control" id="firstname" [(ngModel)]="model.firstname">
                <br>
            </div>
            
                <div class="form-group">
                    <label for="lastname">LastName</label>
                    <input ngModel name="lastname" type="lastname" #password="ngModel" class="form-control" id="lastname" [(ngModel)]="model.lastname">
                    <br>
                </div>
                
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input ngModel name="phone" type="phone" #password="ngModel" class="form-control" id="phone" [(ngModel)]="model.phone">
                        <br>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" (click)="registeruser(); regstore.reset()">Register</button>

                        <!-- <p>
                            {{model | json}}
                        </p> -->
                    </div>

    </form>
    </div>
   
    <div>
      <p>
        {{serviceStatus.message}}
      </p>
    </div>


